# EDA
## Assignment 23

### UBER AND LYFT
Uber and Lyft's ride prices are not constant like public transport. They are greatly affected by the demand and supply of rides at a given time. So what exactly drives this demand? The first guess would be the time of the day times around 9 am and 5 pm should see the highest surges on account of people commuting to work/home. Another guess would be the weather; rain/snow should cause more people to take rides. 

As a data analyst you should rely on exploring hidden insights of data and not on making guesses. The following dataset is for Uber and Lyft rides and Weather condition. Battle both cab booking data and find the hidden insights.

#### Dataset Description:

Distance: Distance travelled in Travel

cab_type: Cab ride booked on Lyft or Uber

time_stamp: Unix Timestamp booking time

Destination: Destination in Boston (US)

Source: Location of Booking in Boston (US)

Price

surge_multiplier: Different surge prices 	

Id: Booking Id 

product_id: Product Id of Lyft and Uber

Name: Name of Cab Rides

Uber Rides – UberXL, Black, UberX, WAV, Black SUV, UberPool

Lyft Rides – Shared, Lux, Lyft, Lux Black XL, Lyft XL, Lux Black 

Hint: Convert time_stamp into Date, Time & Weekdays for better insights.

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

# Display all cell outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'


path_data_cab = r'C:\Users\emmam\Documents\nlb\data\Uber_Lyft_Cab_rides.csv' 
path_data_weather = r'C:\Users\emmam\Documents\nlb\data\weather.csv'

In [2]:
df = pd.read_csv(path_data_cab)
df.dropna(inplace=True)
df['time_stamp_dt'] = pd.to_datetime(df['time_stamp'], unit='ms', origin='unix')
# df

In [3]:
df = df.sort_values('time_stamp_dt')#
df = df.set_index(df['time_stamp_dt'])
df.reset_index(drop=True, inplace=True)
df

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name,time_stamp_dt
0,3.03,Lyft,1543203646318,Theatre District,Boston University,34.0,1.0,ef4771c2-c88d-4730-aaf7-a95751e9d27e,lyft_luxsuv,Lux Black XL,2018-11-26 03:40:46.318
1,1.30,Uber,1543203646319,Theatre District,South Station,18.5,1.0,00ea74ea-2c49-416c-bfc5-f7877025f6eb,6c84fd89-3f11-4782-9b50-97c468b19529,Black,2018-11-26 03:40:46.319
2,2.43,Lyft,1543203646320,Beacon Hill,Northeastern University,10.5,1.0,edfc7f44-97e1-48cd-930c-e4fe20e88ac8,lyft,Lyft,2018-11-26 03:40:46.320
3,2.71,Uber,1543203646320,Fenway,Theatre District,32.0,1.0,6172077a-22de-481b-aae2-b5763c87a6c4,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,2018-11-26 03:40:46.320
4,2.71,Uber,1543203646320,Fenway,Theatre District,19.5,1.0,8682f9bf-5cc0-4dfc-b8fe-4e22070d1684,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,2018-11-26 03:40:46.320
...,...,...,...,...,...,...,...,...,...,...,...
637971,2.40,Lyft,1545160510943,Beacon Hill,Northeastern University,16.5,1.0,b6710feb-4586-4c61-a2cf-cd4025ae8587,lyft_plus,Lyft XL,2018-12-18 19:15:10.943
637972,2.40,Lyft,1545160510943,Beacon Hill,Northeastern University,32.5,1.0,a67a3e6e-7e21-4199-af07-b5532b125b67,lyft_luxsuv,Lux Black XL,2018-12-18 19:15:10.943
637973,2.40,Lyft,1545160510943,Beacon Hill,Northeastern University,7.0,1.0,24712695-5b52-4886-955f-39c4bcd7c200,lyft_line,Shared,2018-12-18 19:15:10.943
637974,2.40,Lyft,1545160510943,Beacon Hill,Northeastern University,10.5,1.0,12b81ef2-422b-4a39-9ef7-701c0f197cea,lyft,Lyft,2018-12-18 19:15:10.943
637975,2.40,Lyft,1545160510943,Beacon Hill,Northeastern University,16.5,1.0,11379a6c-1477-4501-ab22-d3a2165107d3,lyft_premier,Lux,2018-12-18 19:15:10.943

In [4]:
display(
{s for s in df['destination'].unique()}.union({s for s in df['source'].unique()}),
"dataset location is Boston, MA, USA")

{'Back Bay',
 'Beacon Hill',
 'Boston University',
 'Fenway',
 'Financial District',
 'Haymarket Square',
 'North End',
 'North Station',
 'Northeastern University',
 'South Station',
 'Theatre District',
 'West End'}

'dataset location is Boston, MA, USA'

In [5]:
df.shape

(637976, 11)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637976 entries, 0 to 637975
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   distance          637976 non-null  float64
 1   cab_type          637976 non-null  object
 2   time_stamp        637976 non-null  int64
 3   destination       637976 non-null  object
 4   source            637976 non-null  object
 5   price             637976 non-null  float64
 6   surge_multiplier  637976 non-null  float64
 7   id                637976 non-null  object
 8   product_id        637976 non-null  object
 9   name              637976 non-null  object
 10  time_stamp_dt     637976 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 53.5+ MB

In [7]:
# df.isna().sum()

In [8]:
# df.dropna(inplace=True)

In [9]:
# Holidays

#https://www.google.com/search?q=2018+usa+holidays&rlz=1C1CHBF_enUS847US847&oq=2018+usa+holidays&aqs=chrome..69i57j0i13i457j0i13l2j0i13i30l3j0i22i30.2664j0j7&sourceid=chrome&ie=UTF-8
# United States/Public holidays (2018)
# New Year's Day	Mon, Jan 1, 2018
# Martin Luther King Jr. Day	Mon, Jan 15, 2018
# Memorial Day	Mon, May 28, 2018
# Independence Day	Wed, Jul 4, 2018
# Labor Day	Mon, Sep 3, 2018
# Veterans Day	Mon, Nov 12, 2018
# Thanksgiving	Thu, Nov 22, 2018
# George H. W. Bush Memorial Day	Wed, Dec 5, 2018
# Christmas Day	Tue, Dec 25, 2018

holidays=[
    "2018-01-01",
    "2018-01-15",
    "2018-05-28",
    "2018-07-04",
    "2018-09-03",
    "2018-11-12",
    "2018-11-22",
    "2018-12-05",
    "2018-12-25",
    ]

holidays

str(df['time_stamp_dt'][0])
df['time_stamp_str'] = df['time_stamp_dt'].apply(lambda d: str(d)[:10])

df[df['time_stamp_str'].isin(holidays)].size

['2018-01-01',
 '2018-01-15',
 '2018-05-28',
 '2018-07-04',
 '2018-09-03',
 '2018-11-12',
 '2018-11-22',
 '2018-12-05',
 '2018-12-25']

'2018-11-26 03:40:46.318000'

0

In [10]:
# df[df['time_stamp_str'].isin(holidays)]
# df[df['time_stamp_str']=="2018-05-28"]
# df['time_stamp_str'].sample()

df['time_stamp_dt'].min(),df['time_stamp_dt'].max() # oops!

(Timestamp('2018-11-26 03:40:46.318000'),
 Timestamp('2018-12-18 19:15:10.943000'))

In [11]:
#working day rush hours

dir(df['time_stamp_dt'][0])
df['h'] = df['time_stamp_dt'].apply(lambda d: d.hour)

rush_hours = [7,8,9,4,5,6] #basic way to partition time of day

def is_rush_hours(df):
    a = df['h'] in rush_hours
    b = df['time_stamp_dt'].weekday() in [0,1,2,3,4]
    return(all([a,b]))

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_cython__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__setstate_cython__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_date_repr',
 '_repr_base',
 '_round',
 '_short_repr',
 '_time_repr',
 'asm8',
 'astimezone',
 'ceil',
 'combine',
 'ctime',
 'date',
 'day',
 'day_name',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'dst',
 'floor',
 'fold',
 'freq',
 'freqstr',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'is_leap_year',
 'is_month_end',
 'is_month_start',
 'is_quarter_end',
 'is_quarter_start',
 'is_year_end',
 'is_year_start',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'month_name',
 'nanosecond',
 'normalize',
 'now',
 'quarter',
 'replace',
 'resolution',
 'round',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'to_datetime64',
 'to_julian_date',
 'to_numpy',
 'to_period',
 'to_pydatetime',
 'today',
 'toordinal',
 'tz',
 'tz_convert',
 'tz_localize',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'value',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [12]:
df['rush'] = df.apply(is_rush_hours, axis=1)

In [13]:
df[df['rush']==True].size, df[df['rush']==False].size, df.size

(1467550, 7464114, 8931664)

In [14]:

display(
    "*** proportion of sample in each surge category ***",
    "inside rush hours",
    df[df['rush']==True]['surge_multiplier'].value_counts()/df[df['rush']==True].size,
    "outside rush hours",
    df[df['rush']==False]['surge_multiplier'].value_counts()/ df[df['rush']==False].size,
    "seems working day rush hour does not significantly affect surge",
)

'*** proportion of sample in each surge category ***'

'inside rush hours'

1.00    0.069123
1.25    0.001238
1.50    0.000575
1.75    0.000236
2.00    0.000234
2.50    0.000021
3.00    0.000001
Name: surge_multiplier, dtype: float64

'outside rush hours'

1.00    0.069072
1.25    0.001242
1.50    0.000566
1.75    0.000278
2.00    0.000254
2.50    0.000016
3.00    0.000001
Name: surge_multiplier, dtype: float64

'seems working day rush hour does not significantly affect surge'

In [15]:
# display(
# list(zip(df['time_stamp_dt'][500:520],
#          df['time_stamp_dt'][500:520].apply(lambda d : d.weekday()),
#          df.iloc[500:520].index
#          df['time_stamp_dt'][500:520].index
#          df.iloc[500:520].apply(is_partytime),
#         ))
# )

# df['time_stamp_dt'][546]
# df.iloc[500:520].apply(is_partytime),

In [16]:
df['weekday'] = df['time_stamp_dt'].apply(lambda d: d.weekday())

In [17]:
# df['time_stamp_dt']

In [18]:
# df['time_stamp_dt'].max().weekday() # Monday == 0 ... Sunday == 6



daywise_timedict = {3: [n for n in range(7, 13)],
                    4: [n for n in range(8, 13)] + [0,1],
                    5: [n for n in range(8, 13)] + [0,1,2,3],
                    6: [0,1,2,3]
                   }
# display(
# daywise_timedict.get(3),
# )

def is_partytime(df):
    """
    function to identify traffic to bars and house parties
    should include:
        Thursday evening     ~7pm - 1am
        Friday evening/night ~ 7pm - 3am
        Saturday evening/night ~ 7pm - 3am
    """
#     print(type(df))
    daywise_timedict = {3: [n for n in range(19, 24)],
                        4: [n for n in range(20, 24)] + [0,1],
                        5: [n for n in range(20, 24)] + [0,1,2,3],
                        6: [0,1,2,3]
                       }
#     wd = df['time_stamp_dt'].weekday()
    wd = df['weekday']
    l = daywise_timedict.get(wd)
    
    
    if l == None:
        return(False)
#     print(wd, l, df['h'], df['h'] in l)
    r = df['h'] in l
    return(r)
    


# is_partytime(df.iloc[558])
# type(df.iloc[546])

In [19]:
# df1 = df[(df['time_stamp_dt'] >= pd.to_datetime("2018-11-30")) &
#          (df['time_stamp_dt'] <= pd.to_datetime("2018-12-03"))]

In [20]:
# df1.size/df.size

In [21]:
df['partytime'] = df.apply(is_partytime, axis=1)

In [22]:
df[df['partytime']==True].size/df.size

0.12531505887368805

In [23]:

display(
    "*** proportion of sample in each surge category ***",
    "inside party hours",
    df[df['partytime']==True]['surge_multiplier'].value_counts()/df[df['partytime']==True].size,
    "outside party hours",
    df[df['partytime']==False]['surge_multiplier'].value_counts()/ df[df['partytime']==False].size,
    "seems party hours do not significantly affect surge",
)

'*** proportion of sample in each surge category ***'

'inside party hours'

1.00    0.060434
1.25    0.001099
1.50    0.000493
1.75    0.000260
2.00    0.000198
2.50    0.000016
Name: surge_multiplier, dtype: float64

'outside party hours'

1.00    0.060447
1.25    0.001084
1.50    0.000497
1.75    0.000234
2.00    0.000222
2.50    0.000015
3.00    0.000001
Name: surge_multiplier, dtype: float64

'seems party hours do not significantly affect surge'

In [24]:
df['surge_multiplier'].value_counts()

1.00    617001
1.25     11085
1.50      5065
1.75      2420
2.00      2239
2.50       154
3.00        12
Name: surge_multiplier, dtype: int64

In [25]:
df.corr().unstack()['surge_multiplier'].sort_values(ascending=False)

surge_multiplier    1.000000
price               0.240458
distance            0.025946
time_stamp          0.000611
h                  -0.000067
partytime          -0.000192
weekday            -0.001600
rush               -0.002226
dtype: float64

In [26]:
df.corr().unstack()['partytime'].sort_values(ascending=False)

partytime           1.000000
weekday             0.311052
time_stamp          0.097542
h                   0.053722
price               0.001044
distance            0.000150
surge_multiplier   -0.000192
rush               -0.167835
dtype: float64

In [27]:
df.corr().unstack()['rush'].sort_values(ascending=False)

rush                1.000000
time_stamp          0.005338
price              -0.001381
distance           -0.001949
surge_multiplier   -0.002226
partytime          -0.167835
weekday            -0.209858
h                  -0.326996
dtype: float64

In [28]:
df_w= pd.read_csv(path_data_weather)
df_w.isna().sum()

temp             0
location         0
clouds           0
pressure         0
rain          5382
time_stamp       0
humidity         0
wind             0
dtype: int64

In [29]:
# df_w['time_stamp_dt'] = pd.to_datetime(df_w['time_stamp'], unit='ms', origin='unix')
df_w['time_stamp_dt'] = pd.to_datetime(df_w['time_stamp'], unit='s', origin='unix')
df_w[df_w['rain'].notna()].sample(20)[['rain','humidity']].sort_values('rain')

        rain  humidity
5238  0.0031      0.91
1918  0.0040      0.91
2040  0.0050      0.97
1076  0.0052      0.91
3892  0.0080      0.93
5060  0.0090      0.93
4215  0.0130      0.91
3091  0.0183      0.86
3345  0.0210      0.90
5635  0.0250      0.93
3372  0.0320      0.88
994   0.0599      0.84
3574  0.1207      0.89
5139  0.1495      0.91
5376  0.1561      0.91
5432  0.1672      0.91
5374  0.1816      0.91
4778  0.2195      0.87
3028  0.2350      0.89
3720  0.5337      0.91

In [30]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer, KNNImputer
rain_imputer = IterativeImputer()


# rain_imputer.fit(df_w[['temp','clouds','pressure','humidity','wind']])
# df_w[]rain_imputer.transform()
# imp.fit([[1, 2], [3, 6], [4, 8], [np.nan, 3], [7, np.nan]])

In [31]:
# rain_imputer.fit(df_w[df_w['rain'].notna()][['temp','clouds','pressure','humidity','wind','rain']])

# rain_imputer.fit(df_w[['temp','clouds','pressure','humidity','wind','rain']])

# rain_imputer.transform(df_w[df_w['rain'].isna()]['rain'])


x = df_w[df_w['rain'].notna()][['temp','clouds','pressure','humidity','wind','rain']]
rain_imputer.fit(x)

y = rain_imputer.transform(df_w[['temp','clouds','pressure','humidity','wind','rain']] )
y = [i[-1] for i in y]

IterativeImputer()

In [32]:
np.isnan(y).sum()
np.mean(y), np.median(y)
np.nanmean(df_w['rain']), np.nanmedian(df_w['rain'])

0

(-0.006713895047982319, -0.0036352469364608897)

(0.05765234899328859, 0.01485)

In [33]:
rain_imputer = KNNImputer(weights='distance', n_neighbors=95)


x = df_w[df_w['rain'].notna()][['temp','clouds','pressure','humidity','wind','rain']]
rain_imputer.fit(x)

y = rain_imputer.transform(df_w[['temp','clouds','pressure','humidity','wind','rain']] )
y = [i[-1] for i in y]

np.isnan(y).sum()
np.mean(y), np.median(y)
np.nanmean(df_w['rain']), np.nanmedian(df_w['rain'])
'closest imputation?'

KNNImputer(n_neighbors=95, weights='distance')

0

(0.02504977094982021, 0.014301475551852193)

(0.05765234899328859, 0.01485)

'closest imputation?'

In [34]:
df_w['rain'] = y

In [35]:
df_w.isna().sum()

temp             0
location         0
clouds           0
pressure         0
rain             0
time_stamp       0
humidity         0
wind             0
time_stamp_dt    0
dtype: int64

In [36]:
df_w['time_stamp_dt'].min(), df_w['time_stamp_dt'].max()

(Timestamp('2018-11-26 03:40:44'), Timestamp('2018-12-18 18:45:02'))

In [94]:

ts_hr = lambda d: str(d)[:13] # If set to 15th ix (date time to tens place of minutes) I get many extra rows on df.merge() even with how='left'/'inner'!!!
df['time_stamp_str'] = df['time_stamp_dt'].apply(ts_hr)
df_w['time_stamp_str'] = df_w['time_stamp_dt'].apply(ts_hr)
df_w['time_stamp_str']

0       2018-12-16 23
1       2018-12-16 23
2       2018-12-16 23
3       2018-12-16 23
4       2018-12-16 23
            ...
6271    2018-12-03 06
6272    2018-12-03 06
6273    2018-12-03 06
6274    2018-12-03 06
6275    2018-12-03 06
Name: time_stamp_str, Length: 6276, dtype: object

In [95]:
df_w['source'] = df_w['location']

In [96]:
df_w.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6276 entries, 0 to 6275
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   temp            6276 non-null   float64
 1   location        6276 non-null   object
 2   clouds          6276 non-null   float64
 3   pressure        6276 non-null   float64
 4   rain            6276 non-null   float64
 5   time_stamp      6276 non-null   int64
 6   humidity        6276 non-null   float64
 7   wind            6276 non-null   float64
 8   time_stamp_dt   6276 non-null   datetime64[ns]
 9   time_stamp_str  6276 non-null   object
 10  source          6276 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(1), object(3)
memory usage: 539.5+ KB

In [110]:
# dfj = df.merge(df_w, on=['time_stamp_str', 'source'], how='left', copy=False)
# dfj = df.merge(df_w, on=['time_stamp_str', 'source'], how='left')
# dfj = df.merge(df_w, on=['source', 'time_stamp_str'], how='left')

# dfj = df.merge(df_w, left_on=['source', 'time_stamp_str'], 
#                right_on=['location', 'time_stamp_str'], how='left')

dfj = df.merge(df_w, left_on=['source', 'time_stamp_str'], 
               right_on=['location', 'time_stamp_str'], how='inner')

In [111]:
dfj

,distance,cab_type,time_stamp_x,destination,source_x,price,surge_multiplier,id,product_id,name,...,temp,location,clouds,pressure,rain,time_stamp_y,humidity,wind,time_stamp_dt_y,source_y
0,3.03,Lyft,1543203646318,Theatre District,Boston University,34.0,1.00,ef4771c2-c88d-4730-aaf7-a95751e9d27e,lyft_luxsuv,Lux Black XL,...,41.07,Boston University,0.86,1014.39,0.011524,1543203645,0.92,1.36,2018-11-26 03:40:45,Boston University
1,4.46,Lyft,1543203646359,Financial District,Boston University,47.5,1.75,3b5af7f6-40ba-42f2-a218-971dcba4f33e,lyft_premier,Lux,...,41.07,Boston University,0.86,1014.39,0.011524,1543203645,0.92,1.36,2018-11-26 03:40:45,Boston University
2,4.46,Lyft,1543203646359,Financial District,Boston University,62.5,1.75,1178f52c-9bd4-4b28-a03a-d94e68bfafa3,lyft_lux,Lux Black,...,41.07,Boston University,0.86,1014.39,0.011524,1543203645,0.92,1.36,2018-11-26 03:40:45,Boston University
3,3.06,Lyft,1543203646551,West End,Boston University,22.5,1.00,e4d3df16-8b2b-4748-bf2b-f3b4e62c0ba2,lyft_premier,Lux,...,41.07,Boston University,0.86,1014.39,0.011524,1543203645,0.92,1.36,2018-11-26 03:40:45,Boston University
4,3.06,Lyft,1543203646551,West End,Boston University,10.5,1.00,5f3ee457-8e98-4b4b-9582-e6bc3a3ad0e7,lyft,Lyft,...,41.07,Boston University,0.86,1014.39,0.011524,1543203645,0.92,1.36,2018-11-26 03:40:45,Boston University
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1164991,3.00,Lyft,1545159307819,Theatre District,Boston University,7.0,1.00,59e0e8de-17ef-4421-a5f9-4b9df2ba48e5,lyft_line,Shared,...,30.96,Boston University,0.00,1012.35,0.021725,1545158702,0.45,12.93,2018-12-18 18:45:02,Boston University
1164992,2.93,Lyft,1545159309992,Theatre District,Boston University,34.0,1.75,f8d72e65-65c5-4cc0-ba38-aaec932f0c33,lyft_premier,Lux,...,30.96,Boston University,0.00,1012.35,0.021725,1545158702,0.45,12.93,2018-12-18 18:45:02,Boston University
1164993,2.40,Uber,1545159311401,Theatre District,Boston University,10.0,1.00,f67fd589-a11f-4556-a748-1bbe7139e301,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,...,30.96,Boston University,0.00,1012.35,0.021725,1545158702,0.45,12.93,2018-12-18 18:45:02,Boston University
1164994,1.53,Lyft,1545159312093,Back Bay,Boston University,11.0,1.00,d9fe2fb0-a346-4300-bcbf-565b33e05c35,lyft_plus,Lyft XL,...,30.96,Boston University,0.00,1012.35,0.021725,1545158702,0.45,12.93,2018-12-18 18:45:02,Boston University
1164995,1.53,Lyft,1545159312093,Back Bay,Boston University,16.5,1.00,b002e95b-47f1-4836-bada-a4ff0a6a46ef,lyft_lux,Lux Black,...,30.96,Boston University,0.00,1012.35,0.021725,1545158702,0.45,12.93,2018-12-18 18:45:02,Boston University

In [112]:
dfj.shape, df.shape
dfj.isna().sum()

((1164996, 26), (637976, 16))

distance            0
cab_type            0
time_stamp_x        0
destination         0
source_x            0
price               0
surge_multiplier    0
id                  0
product_id          0
name                0
time_stamp_dt_x     0
time_stamp_str      0
h                   0
rush                0
weekday             0
partytime           0
temp                0
location            0
clouds              0
pressure            0
rain                0
time_stamp_y        0
humidity            0
wind                0
time_stamp_dt_y     0
source_y            0
dtype: int64

In [114]:
dfj = dfj.drop_duplicates(subset='id')

In [115]:
dfj.shape, df.shape
dfj.isna().sum()

((635242, 26), (637976, 16))

distance            0
cab_type            0
time_stamp_x        0
destination         0
source_x            0
price               0
surge_multiplier    0
id                  0
product_id          0
name                0
time_stamp_dt_x     0
time_stamp_str      0
h                   0
rush                0
weekday             0
partytime           0
temp                0
location            0
clouds              0
pressure            0
rain                0
time_stamp_y        0
humidity            0
wind                0
time_stamp_dt_y     0
source_y            0
dtype: int64

In [124]:
dfj.corr().abs().unstack()['surge_multiplier'].sort_values(ascending=False)

dfj.corr().unstack()['surge_multiplier'].sort_values(ascending=False, key=lambda i: abs(i))

surge_multiplier    1.000000
price               0.240325
distance            0.025830
pressure            0.002912
rush                0.002296
clouds              0.001996
temp                0.001635
rain                0.001623
weekday             0.001607
wind                0.001286
humidity            0.001253
time_stamp_x        0.000769
time_stamp_y        0.000769
partytime           0.000180
h                   0.000108
dtype: float64

surge_multiplier    1.000000
price               0.240325
distance            0.025830
pressure           -0.002912
rush               -0.002296
clouds             -0.001996
temp               -0.001635
rain               -0.001623
weekday            -0.001607
wind                0.001286
humidity           -0.001253
time_stamp_x        0.000769
time_stamp_y        0.000769
partytime          -0.000180
h                   0.000108
dtype: float64

In [125]:
"strongest correlates of surge (rain is imputed)"
dfj.corr().unstack()['surge_multiplier'][['distance', 'pressure', 'rush', 'clouds', 'temp', 'rain']].sort_values(ascending=False, key=lambda i: abs(i))

'strongest correlates of surge (rain is imputed)'

distance    0.025830
pressure   -0.002912
rush       -0.002296
clouds     -0.001996
temp       -0.001635
rain       -0.001623
dtype: float64