In [1]:
import numpy as np
import pandas as pd
from scipy.stats import mode
#######################
#Donlgi's shared print format
np.set_printoptions(edgeitems=30, linewidth=100000, 
    formatter=dict(float=lambda x: "%.3g" % x))

# 1. Numpy

#### 1) Compute and Find the number and position of missing values in iris data’s sepal length column. (And few missing values).

In [2]:
iris_data_na = np.genfromtxt(r"https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/iris.csv", delimiter=',',
                             dtype=float, encoding='utf-8', skip_header=1, usecols=[0],)

iris_data_na[np.random.randint(150, size=20)] = np.nan

whr = np.where(np.isnan(iris_data_na))

display(f"{sum(np.isnan(iris_data_na))} nan rows")
display(f"locations: {whr}...")

'19 nan rows'

'locations: (array([  4,  12,  17,  21,  35,  38,  51,  55,  59,  60,  65, 100, 103, 110, 128, 130, 143, 146, 147], dtype=int64),)...'

#### 2) Sort the Admission dataset array based on TOEFL Score column and GRE Score. Use separate code for both.

In [3]:



adm_data = np.genfromtxt(r"https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/Admission.csv", delimiter=',', 
                           encoding='utf-8', skip_header=1)
#cols="Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR ,CGPA,Research,Chance of Admit".split(',')
#display(cols)

adm_data_by_gre = adm_data[adm_data[:,1].argsort()][::-1] # https://stackoverflow.com/questions/2828059/sorting-arrays-in-numpy-by-column/2828121#2828121

display("admissions data sorted by GRE score")
display(adm_data_by_gre[:10,:])

adm_data_by_toefl = adm_data[adm_data[:,2].argsort()][::-1]
display("admissions data sorted by TOEFL score")
display(adm_data_by_toefl[:10,:])

'admissions data sorted by GRE score'

array([[430, 340, 115, 5, 5, 4.5, 9.06, 1, 0.95],
       [385, 340, 113, 4, 5, 5, 9.74, 1, 0.96],
       [144, 340, 120, 4, 4.5, 4, 9.92, 1, 0.97],
       [85, 340, 115, 5, 4.5, 4.5, 9.45, 1, 0.94],
       [82, 340, 120, 4, 5, 5, 9.5, 1, 0.96],
       [203, 340, 120, 5, 4.5, 4.5, 9.91, 1, 0.97],
       [26, 340, 120, 5, 4.5, 4.5, 9.6, 1, 0.94],
       [285, 340, 112, 4, 5, 4.5, 9.66, 1, 0.94],
       [34, 340, 114, 5, 4, 4, 9.6, 1, 0.9],
       [48, 339, 119, 5, 4.5, 4, 9.7, 0, 0.89]])

'admissions data sorted by TOEFL score'

array([[498, 330, 120, 5, 4.5, 5, 9.56, 1, 0.93],
       [144, 340, 120, 4, 4.5, 4, 9.92, 1, 0.97],
       [298, 320, 120, 3, 4, 4.5, 9.11, 0, 0.86],
       [98, 331, 120, 3, 4, 4, 8.96, 1, 0.86],
       [82, 340, 120, 4, 5, 5, 9.5, 1, 0.96],
       [26, 340, 120, 5, 4.5, 4.5, 9.6, 1, 0.94],
       [203, 340, 120, 5, 4.5, 4.5, 9.91, 1, 0.97],
       [204, 334, 120, 5, 4, 5, 9.87, 1, 0.97],
       [213, 338, 120, 4, 5, 5, 9.66, 1, 0.95],
       [48, 339, 119, 5, 4.5, 4, 9.7, 0, 0.89]])

#### 3) How to replace all missing values with 0, in a numpy array using Admission.csv and iris.csv?

In [4]:
display("locations of nan values in iris_data_na created in question 1:")

display(np.where(np.isnan(iris_data_na)))

iris_data_na[np.isnan(iris_data_na)] = 0

display("locations of nan values in iris_data_na after replacement:")

display(np.where(np.isnan(iris_data_na)))

display("locations of 0 in iris_data_na after replacement:")

display(np.where(iris_data_na==0))

'locations of nan values in iris_data_na created in question 1:'

(array([  4,  12,  17,  21,  35,  38,  51,  55,  59,  60,  65, 100, 103, 110, 128, 130, 143, 146, 147], dtype=int64),)

'locations of nan values in iris_data_na after replacement:'

(array([], dtype=int64),)

'locations of 0 in iris_data_na after replacement:'

(array([  4,  12,  17,  21,  35,  38,  51,  55,  59,  60,  65, 100, 103, 110, 128, 130, 143, 146, 147], dtype=int64),)

In [5]:
adm_data = np.genfromtxt(r"https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/Admission.csv", delimiter=',', 
                           encoding='utf-8', skip_header=1)
adm_data.shape
adm_data[np.random.randint(0,500,size=100), np.random.randint(0,8, size=100)] = np.nan

adm_nan_ixs = np.where(np.isnan(adm_data)) #adm_nan_ixs = np.transpose(np.where(np.isnan(adm_data)))

#display("locations of nan values in adm_data:")
#display(adm_nan_ixs[:10]) #
#display(adm_data[:adm_nan_ixs[9][0]+1]) # indexing for manual validation

adm_data[np.isnan(adm_data)] = 0

# 2. PANDAS

1) Combine four series to form and create a Dataframe with name series_data. Use the
Dataframe and perform following operations.

a. Display first five rows and last five rows using pandas method

b. Convert the index of a series into a column of a dataframe

c. Drop the index column of the DataFrame.

d. Display the frequency counts of unique items of a series data column.

In [6]:
base=['a','b','c','d','e']

s1= pd.Series(base)
for i in range(2,6):
    exec(f"s{i} = pd.Series([c*{i} for c in base])")

df = pd.DataFrame([s1,s2,s3,s4,s5])

In [7]:
#a

df.head(), df.tail()

(       0      1      2      3      4
 0      a      b      c      d      e
 1     aa     bb     cc     dd     ee
 2    aaa    bbb    ccc    ddd    eee
 3   aaaa   bbbb   cccc   dddd   eeee
 4  aaaaa  bbbbb  ccccc  ddddd  eeeee,
        0      1      2      3      4
 0      a      b      c      d      e
 1     aa     bb     cc     dd     ee
 2    aaa    bbb    ccc    ddd    eee
 3   aaaa   bbbb   cccc   dddd   eeee
 4  aaaaa  bbbbb  ccccc  ddddd  eeeee)

In [8]:
#b
display("   df.reset_index()",df.reset_index()) # not assigned
df['not_index'] = pd.Series(df.index)
display("   df['column'] assignment", df)

'   df.reset_index()'

   index      0      1      2      3      4
0      0      a      b      c      d      e
1      1     aa     bb     cc     dd     ee
2      2    aaa    bbb    ccc    ddd    eee
3      3   aaaa   bbbb   cccc   dddd   eeee
4      4  aaaaa  bbbbb  ccccc  ddddd  eeeee

"   df['column'] assignment"

       0      1      2      3      4  not_index
0      a      b      c      d      e          0
1     aa     bb     cc     dd     ee          1
2    aaa    bbb    ccc    ddd    eee          2
3   aaaa   bbbb   cccc   dddd   eeee          3
4  aaaaa  bbbbb  ccccc  ddddd  eeeee          4

In [9]:
#c
#del df['not_index']
df.drop(['not_index'], axis=1, inplace=True)
df

       0      1      2      3      4
0      a      b      c      d      e
1     aa     bb     cc     dd     ee
2    aaa    bbb    ccc    ddd    eee
3   aaaa   bbbb   cccc   dddd   eeee
4  aaaaa  bbbbb  ccccc  ddddd  eeeee

In [10]:
#d. Display the frequency counts of unique items of a series data column.

#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.SeriesGroupBy.nunique.html
#https://stackoverflow.com/questions/38309729/count-unique-values-with-pandas-per-groups

adm_df = pd.read_csv(r"https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/Admission.csv")
adm_df.groupby("GRE Score")["Serial No."].nunique()[::-1]

GRE Score
340     9
339     3
338     4
337     2
336     5
335     4
334     8
333     4
332     8
331     9
330     8
329    10
328     9
327    17
326    12
325    15
324    23
323    13
322    17
321    17
320    16
319    12
318    12
317    15
316    18
315    13
314    16
313    12
312    24
311    16
310    11
309     9
308    13
307    10
306     7
305    11
304    12
303     5
302     7
301    11
300    12
299    10
298    10
297     6
296     5
295     5
294     2
293     1
290     2
Name: Serial No., dtype: int64

#### 2) How to stack two series vertically and horizontally?

In [11]:
#https://www.geeksforgeeks.org/stack-two-pandas-series-vertically-and-horizontally/
a, b = pd.Series(['a','b','c','d']), pd.Series(['one','two','three','four'])
c = pd.concat([a,b], axis=0)
display(c)
d = pd.concat([a,b], axis=1)
display(d)

0        a
1        b
2        c
3        d
0      one
1      two
2    three
3     four
dtype: object

   0      1
0  a    one
1  b    two
2  c  three
3  d   four

#### 3) How to convert a numpy array to a Dataframe of given shape?

In [12]:
def shape_to_df(width, height):
    w = np.array([np.nan for i in range(width)])
    df = pd.DataFrame([w for n in range(height)])
    return(df)

display(shape_to_df(5,3))

    0   1   2   3   4
0 NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN

#### 4) Find the index positions of items of series A in another series B using numpy.where() and pd.Index() methods?

In [13]:
A = pd.Series([2,3,4,5])   #items to search for <-- Basepoint?
B = pd.Series([0,2,9,4]) #searched series
# searching a value if present in list (B)
cond0 = lambda i : i in list(B)
np.where([cond0(i) for i in A])

(array([0, 2], dtype=int64),)

In [14]:
#help(pd.Index(B))
dir(pd.Index(B))

['T',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__init__',
 '__init_subclass__',
 '__inv__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_comparison_methods',
 '_add_logical_methods',
 '_add_logical_methods_disabled',
 '_add_numeric_methods',
 '_add_numeric_methods_add_sub_disabled',
 '_add_numeric_methods_binary',
 '_add_numeric_methods_disabled',
 '_add_numeric_methods_unary',
 '_assert_can_do_op',
 '_assert_can_do_setop',
 '_assert_safe_casting',
 '_assert_take_fillable',
 '_attributes',
 '_can_hold_identifiers_and_holds_name',
 '_can_hold_na',
 '_can_reindex',
 '_check_indexing_error',
 '_cleanup',
 '_coerce_scalar_to_index',
 '_comparables',
 '_concat',
 '_constructor',
 '_convert_arr_indexer',
 '_convert_can_do_setop',
 '_convert_for_op',
 '_convert_index_indexer',
 '_convert_list_indexer',
 '_convert_listlike_indexer',
 '_convert_slice_indexer',
 '_convert_tolerance',
 '_default_dtype',
 '_defer_to_indexing',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_engine',
 '_engine_type',
 '_filter_indexer_tolerance',
 '_format_attrs',
 '_format_data',
 '_format_native_types',
 '_format_space',
 '_format_with_header',
 '_formatter_func',
 '_get_attributes_dict',
 '_get_engine_target',
 '_get_fill_indexer',
 '_get_fill_indexer_searchsorted',
 '_get_grouper_for_level',
 '_get_level_number',
 '_get_level_values',
 '_get_names',
 '_get_nearest_indexer',
 '_get_partial_string_timestamp_match_key',
 '_get_reconciled_name_object',
 '_get_string_slice',
 '_get_unique_index',
 '_get_values_for_loc',
 '_has_complex_internals',
 '_id',
 '_inner_indexer',
 '_invalid_indexer',
 '_is_comparable_dtype',
 '_is_compatible_with_other',
 '_is_memory_usage_qualified',
 '_is_numeric_dtype',
 '_is_strictly_monotonic_decreasing',
 '_is_strictly_monotonic_increasing',
 '_isnan',
 '_join_level',
 '_join_monotonic',
 '_join_multi',
 '_join_non_unique',
 '_join_precedence',
 '_left_indexer',
 '_left_indexer_unique',
 '_map_values',
 '_maybe_cast_indexer',
 '_maybe_cast_slice_bound',
 '_maybe_promote',
 '_mpl_repr',
 '_na_value',
 '_name',
 '_nan_idxs',
 '_no_setting_name',
 '_outer_indexer',
 '_reduce',
 '_reindex_non_unique',
 '_reset_cache',
 '_reset_identity',
 '_scalar_data_error',
 '_searchsorted_monotonic',
 '_set_names',
 '_shallow_copy',
 '_should_fallback_to_positional',
 '_simple_new',
 '_sort_levels_monotonic',
 '_string_data_error',
 '_summary',
 '_supports_partial_string_indexing',
 '_to_safe_for_reshape',
 '_transform_index',
 '_typ',
 '_union',
 '_union_incompatible_dtypes',
 '_validate_dtype',
 '_validate_index_level',
 '_validate_indexer',
 '_validate_names',
 '_validate_positional_slice',
 '_validate_sort_keyword',
 '_values',
 '_wrap_joined_index',
 '_wrap_setop_result',
 'all',
 'any',
 'append',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asi8',
 'asof',
 'asof_locs',
 'astype',
 'copy',
 'delete',
 'difference',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'duplicated',
 'empty',
 'equals',
 'factorize',
 'fillna',
 'format',
 'get_indexer',
 'get_indexer_for',
 'get_indexer_non_unique',
 'get_level_values',
 'get_loc',
 'get_slice_bound',
 'get_value',
 'groupby',
 'has_duplicates',
 'hasnans',
 'holds_integer',
 'identical',
 'inferred_type',
 'insert',
 'intersection',
 'is_',
 'is_all_dates',
 'is_boolean',
 'is_categorical',
 'is_floating',
 'is_integer',
 'is_interval',
 'is_mixed',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_numeric',
 'is_object',
 'is_type_compatible',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'join',
 'map',
 'max',
 'memory_usage',
 'min',
 'name',
 'names',
 'nbytes',
 'ndim',
 'nlevels',
 'notna',
 'notnull',
 'nunique',
 'putmask',
 'ravel',
 'reindex',
 'rename',
 'repeat',
 'searchsorted',
 'set_names',
 'shape',
 'shift',
 'size',
 'slice_indexer',
 'slice_locs',
 'sort',
 'sort_values',
 'sortlevel',
 'symmetric_difference',
 'take',
 'to_flat_index',
 'to_frame',
 'to_list',
 'to_native_types',
 'to_numpy',
 'to_series',
 'transpose',
 'union',
 'unique',
 'value_counts',
 'values',
 'view',
 'where']

In [15]:
pd.Index(B).get_indexer_non_unique(A)[1]

array([1, 3], dtype=int64)

#### 5) How to convert the first character of each Categorical value in a series to uppercase keeping rest of values to lowercase?

In [16]:
colnames = pd.Series(['custID','custName','country', 'address', 'gender', 'ismember', 'registeredDate'])
categorical_colnames = ['country', 'gender', 'ismember']

#a='country'
for i in colnames.iteritems():
    if i[1] in categorical_colnames:
        colnames[i[0]] = i[1].title()

display(colnames)

0            custID
1          custName
2           Country
3           address
4            Gender
5          Ismember
6    registeredDate
dtype: object

#### 6) How to filter valid emails from a series data using following pattern to be matched? pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

In [17]:
import re
pattern =r'[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}'

series_data = pd.Series(['hello@world.com', 'good@bye@no@no', 'hello@whitehouse.gov', 'maybe at silly dot com'])

r = re.compile(pattern)

series_data = pd.Series([i for i in series_data if r.match(i)])

series_data

0         hello@world.com
1    hello@whitehouse.gov
dtype: object

#### 7) Analysing earthquake data using url:
https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/earthquakes_2014.csv

* a. Load the data file

In [18]:
eq_df = pd.read_csv("https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/earthquakes_2014.csv")

eq_df

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type
0,2014-01-31 23:53:37.000,60.252000,-152.708100,90.20,1.10,ml,NaN,NaN,NaN,0.2900,ak,ak11155107,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake
1,2014-01-31 23:48:35.452,37.070300,-115.130900,0.00,1.33,ml,4.0,171.43,0.342000,0.0247,nn,nn00436847,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake
2,2014-01-31 23:47:24.000,64.671700,-149.252800,7.10,1.30,ml,NaN,NaN,NaN,1.0000,ak,ak11151142,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake
3,2014-01-31 23:30:54.000,63.188700,-148.957500,96.50,0.80,ml,NaN,NaN,NaN,1.0700,ak,ak11151135,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake
4,2014-01-31 23:30:52.210,32.616833,-115.692500,10.59,1.34,ml,6.0,285.00,0.043210,0.2000,ci,ci37171541,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120103,2014-12-01 00:10:16.000,60.963900,-146.762900,14.80,3.80,ml,NaN,NaN,NaN,0.6900,ak,ak11453391,2015-03-24T18:25:07.628Z,"29km SW of Valdez, Alaska",earthquake
120104,2014-12-01 00:09:39.000,58.869100,-154.415900,108.40,2.40,ml,NaN,NaN,NaN,0.6700,ak,ak11453395,2014-12-10T01:04:25.209Z,"102km SSE of Old Iliamna, Alaska",earthquake
120105,2014-12-01 00:09:25.350,38.843498,-122.825836,2.37,0.43,md,8.0,107.00,0.008991,0.0300,nc,nc72358451,2014-12-01T01:15:02.814Z,"9km WNW of Cobb, California",earthquake
120106,2014-12-01 00:05:54.000,65.152100,-148.992000,9.50,0.40,ml,NaN,NaN,NaN,0.6900,ak,ak11453390,2014-12-10T01:03:01.225Z,"57km NW of Ester, Alaska",earthquake
120107,2014-12-01 00:04:05.000,60.227200,-147.024500,2.50,1.60,ml,NaN,NaN,NaN,0.7300,ak,ak11453389,2014-12-09T02:04:46.894Z,"78km WSW of Cordova, Alaska",earthquake

* b. Convert time column from object to datetime format

In [19]:
eq_df["time"] = pd.to_datetime(eq_df["time"])

eq_df["time"]

0        2014-01-31 23:53:37.000
1        2014-01-31 23:48:35.452
2        2014-01-31 23:47:24.000
3        2014-01-31 23:30:54.000
4        2014-01-31 23:30:52.210
                   ...
120103   2014-12-01 00:10:16.000
120104   2014-12-01 00:09:39.000
120105   2014-12-01 00:09:25.350
120106   2014-12-01 00:05:54.000
120107   2014-12-01 00:04:05.000
Name: time, Length: 120108, dtype: datetime64[ns]

* c. Extract the latitude, longitude, depth, mag arrays to arrays Lat, Long, D, M column.

In [20]:
""" I am having trouble understanding question c... is it to just create new columns with same values??? """

' I am having trouble understanding question c... is it to just create new columns with same values??? '

In [21]:
from copy import copy
relabel_to_from = [
('Lat', 'latitude'),
('Long', 'longitude'),
('D', 'depth'),
('M', 'mag'),    
]

for t in relabel_to_from:
    eq_df[t[0]] = copy(eq_df[t[1]])
    eq_df.drop([t[1]] , axis=1, inplace=True)

display("new columns:", eq_df.columns)

display(eq_df)

'new columns:'

Index(['time', 'magType', 'nst', 'gap', 'dmin', 'rms', 'net', 'id', 'updated',
       'place', 'type', 'Lat', 'Long', 'D', 'M'],
      dtype='object')

,time,magType,nst,gap,dmin,rms,net,id,updated,place,type,Lat,Long,D,M
0,2014-01-31 23:53:37.000,ml,NaN,NaN,NaN,0.2900,ak,ak11155107,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake,60.252000,-152.708100,90.20,1.10
1,2014-01-31 23:48:35.452,ml,4.0,171.43,0.342000,0.0247,nn,nn00436847,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake,37.070300,-115.130900,0.00,1.33
2,2014-01-31 23:47:24.000,ml,NaN,NaN,NaN,1.0000,ak,ak11151142,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake,64.671700,-149.252800,7.10,1.30
3,2014-01-31 23:30:54.000,ml,NaN,NaN,NaN,1.0700,ak,ak11151135,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake,63.188700,-148.957500,96.50,0.80
4,2014-01-31 23:30:52.210,ml,6.0,285.00,0.043210,0.2000,ci,ci37171541,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake,32.616833,-115.692500,10.59,1.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120103,2014-12-01 00:10:16.000,ml,NaN,NaN,NaN,0.6900,ak,ak11453391,2015-03-24T18:25:07.628Z,"29km SW of Valdez, Alaska",earthquake,60.963900,-146.762900,14.80,3.80
120104,2014-12-01 00:09:39.000,ml,NaN,NaN,NaN,0.6700,ak,ak11453395,2014-12-10T01:04:25.209Z,"102km SSE of Old Iliamna, Alaska",earthquake,58.869100,-154.415900,108.40,2.40
120105,2014-12-01 00:09:25.350,md,8.0,107.00,0.008991,0.0300,nc,nc72358451,2014-12-01T01:15:02.814Z,"9km WNW of Cobb, California",earthquake,38.843498,-122.825836,2.37,0.43
120106,2014-12-01 00:05:54.000,ml,NaN,NaN,NaN,0.6900,ak,ak11453390,2014-12-10T01:03:01.225Z,"57km NW of Ester, Alaska",earthquake,65.152100,-148.992000,9.50,0.40
120107,2014-12-01 00:04:05.000,ml,NaN,NaN,NaN,0.7300,ak,ak11453389,2014-12-09T02:04:46.894Z,"78km WSW of Cordova, Alaska",earthquake,60.227200,-147.024500,2.50,1.60

* d. Mask out invalid data (the nan values from missing points)

In [22]:
eq_df1= eq_df.dropna()

eq_df1

,time,magType,nst,gap,dmin,rms,net,id,updated,place,type,Lat,Long,D,M
1,2014-01-31 23:48:35.452,ml,4.0,171.430000,0.342000,0.0247,nn,nn00436847,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake,37.070300,-115.130900,0.00,1.33
4,2014-01-31 23:30:52.210,ml,6.0,285.000000,0.043210,0.2000,ci,ci37171541,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake,32.616833,-115.692500,10.59,1.34
5,2014-01-31 23:30:36.930,ml,16.0,264.000000,0.080810,0.2100,ci,ci11419722,2014-02-01T00:09:04.470Z,"3km N of Tijuana, Mexico",quarry blast,32.567667,-117.013500,0.01,1.51
6,2014-01-31 23:28:04.020,ml,26.0,163.000000,0.032660,0.1200,ci,ci11419714,2014-02-01T00:54:07.630Z,"11km N of Borrego Springs, California",earthquake,33.359000,-116.360500,12.98,1.17
15,2014-01-31 22:54:06.200,md,13.0,100.799992,0.035933,0.3400,nm,nm020414a,2014-02-04T14:10:26.871Z,"6km SSW of Lilbourn, Missouri",earthquake,36.538300,-89.629000,7.80,1.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120092,2014-12-01 01:02:27.710,md,13.0,111.000000,0.121400,0.0300,nc,nc72358476,2014-12-03T17:30:04.727Z,"25km SE of Mammoth Lakes, California",earthquake,37.473333,-118.786333,5.92,0.73
120093,2014-12-01 01:00:29.200,md,26.0,143.000000,0.033850,0.0600,nc,nc72358466,2014-12-11T06:55:03.683Z,"11km ESE of Cloverdale, California",earthquake,38.767167,-122.888333,3.56,0.82
120094,2014-12-01 00:59:41.910,md,7.0,222.000000,0.008552,0.0100,nc,nc72358461,2014-12-01T01:33:06.454Z,"8km NW of The Geysers, California",earthquake,38.830166,-122.833504,1.73,0.29
120095,2014-12-01 00:58:43.430,ml,20.0,65.000000,0.134700,0.1600,ci,ci37065303,2014-12-01T18:45:06.920Z,"40km ENE of Lucerne Valley, California",earthquake,34.536167,-116.525833,4.31,1.44
120105,2014-12-01 00:09:25.350,md,8.0,107.000000,0.008991,0.0300,nc,nc72358451,2014-12-01T01:15:02.814Z,"9km WNW of Cobb, California",earthquake,38.843498,-122.825836,2.37,0.43

* e. Replace the invalid data with central tendencies. Don’t forget to check if they are categorical or continuous.

In [23]:


## General guidelines from Amit
# Handling missing values with Central Tendencies 
    # if data is continious replace NA or NaN by Mean
    # if data is discrete replace by Median 
    # if data is categorical / discrete replace by Mode

display(eq_df.dtypes)
#### Em's best guesses regarding each column based on earthquake.usgs.gov & Wikipedia.org
# found this https://earthquake.usgs.gov/data/comcat/data-eventterms.php
# Should we really consider instrument recordings like rms, gap, dmin, as discrete???
data_type_dict={
    # ordinal categorical
    'magType': 'ord',# https://en.wikipedia.org/wiki/Richter_magnitude_scale
    # categorical
    'type': 'cat', # Type of seismic event.
    'net': 'cat', # The ID of a data contributor. Identifies the network considered to be the preferred source of information for this event.
    # discreet
    'gap': 'disc', # The largest azimuthal gap between azimuthally adjacent stations (in degrees).
    'dmin': 'disc', # Horizontal distance from the epicenter to the nearest station (in degrees). 1 degree is approximately 111.2 kilometers.
    # continuous
    'time': 'cont', # time quake observed
    'updated': 'cont', # time record was updated
    'rms': 'cont', # "root mean square" travel time 2194 unique values for dataset of 52122 ... maybe it should be treated as categorical? # https://earthquake.usgs.gov/data/comcat/data-eventterms.php#:~:text=The%20root%2Dmean%2Dsquare%20(,arrival%20times%20for%20this%20location.
    'Lat': 'cont', # Latitude
    'Long': 'cont', # Longitude
    'D': 'cont', # Depth of the event in kilometers.
    'm': 'cont', # richter magnitude # The Richter magnitude of an earthquake is determined from the logarithm of the amplitude of waves recorded by seismographs
    # nominal
    'place': 'nom', #Textual description of named geographic region near to the event. 
    'id': 'nom', # A unique identifier for the event.
    }
display(data_type_dict)
['time', 'magType', 'nst', 'gap', 'dmin', 'rms', 'net', 'id', 'updated',
       'place', 'type', 'Lat', 'Long', 'D', 'M']
###############
#_c = 'M' 
#display(f"{len(eq_df[f'{_c}'].unique())} unique values in {_c}",
#        sorted(eq_df[f'{_c}'].unique()),
#        eq_df[f'{_c}'].unique(),       
#        f"col:{_c}\nmax:{np.max(eq_df[_c])}\nmin:{np.min(eq_df[_c])}"
#        )

for _c_t in data_type_dict.items():
    if _c_t[1] in ['ord', 'cat']:
        #use mode
        mode_result = mode(eq_df[_c_t[0]])
        eq_df1[_c_t[0]] = eq_df1[_c_t[0]].fillna(mode_result.mode)
        eq_df1[_c_t[0]].fillna(mode_result.mode, inplace=True)        
    if _c_t[1]== 'cont':
        #use mean
        eq_df1[_c_t[0]] = eq_df1[_c_t[0]].fillna(np.mean(eq_df1[_c_t[0]]))
    if _c_t[1]== 'disc':
        #use median
        eq_df1[_c_t[0]] = eq_df1[_c_t[0]].fillna(np.median(eq_df1[_c_t[0]]))
         
#diabetes_df1['Insulin'] = diabetes_df1['Insulin'].fillna(np.mean(diabetes_df1['Insulin']))

time       datetime64[ns]
magType            object
nst               float64
gap               float64
dmin              float64
rms               float64
net                object
id                 object
updated            object
place              object
type               object
Lat               float64
Long              float64
D                 float64
M                 float64
dtype: object

{'magType': 'ord',
 'type': 'cat',
 'net': 'cat',
 'gap': 'disc',
 'dmin': 'disc',
 'time': 'cont',
 'updated': 'cont',
 'rms': 'cont',
 'Lat': 'cont',
 'Long': 'cont',
 'D': 'cont',
 'm': 'cont',
 'place': 'nom',
 'id': 'nom'}

TypeError: "value" parameter must be a scalar, dict or Series, but you passed a "ndarray"

In [ ]:
np.sum(eq_df1.isna())

* f. Compute the mean and standard deviation of each of D, M in earthquake.

In [ ]:
def naive_variance(array):
    def mean(a):
        return(np.sum(a)/len(a))
    _m = mean(array)
    n_a = [(i - _m)**2 for i in array]
    _v = mean(n_a)
    return(_v)
def naive_stdv(a):
    return(np.sqrt(naive_variance(a)))


display(f"mean of D : {np.mean(eq_df1['D'])}\nSTDV of D : {naive_stdv(eq_df1['D'])}")
display(f"mean of M : {np.mean(eq_df1['M'])}\nSTDV of M : {naive_stdv(eq_df1['M'])}")

#### 8)Convert the date into day of month, week number, day of year and day of week from a series of date strings?

In [53]:
import datetime
dt_s = pd.Series(["12-09-2020", "12-31-2020", "07-21-2021", "10-31-2021"])
dt_s = pd.to_datetime(dt_s)

[print(dt, dt.day, dt.week, dt.dayofyear,  dt.day_name(), end="\n") for dt in dt_s]

2020-12-09 00:00:00 9 50 344 Wednesday
2020-12-31 00:00:00 31 53 366 Thursday
2021-07-21 00:00:00 21 29 202 Wednesday
2021-10-31 00:00:00 31 43 304 Sunday

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

#### Analysing data using url:
     https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/house_sales_data.csv
* a. Load the data file



* e. Filter the columns with Price > 250000 and view is True.
* f. Compute the average price of house with sqft_living > 25000 and view is True

In [54]:
hs_df = pd.read_csv('https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/house_sales_data.csv')

In [65]:
# b. Sorting the Rows Data using Column ‘price’ and reset the updated dataframe.
hs_df.sort_values('price', inplace=True)
hs_df.reset_index(inplace=True)
hs_df

,level_0,index,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,1149,3421079032,20150217T000000,75000.0,1,0.00,670,43377,1.0,...,3,670,0,1966,0,98022,47.2638,-121.906,1160,42882
1,1,15293,40000362,20140506T000000,78000.0,2,1.00,780,16344,1.0,...,5,780,0,1942,0,98168,47.4739,-122.280,1700,10387
2,2,465,8658300340,20140523T000000,80000.0,1,0.75,430,5050,1.0,...,4,430,0,1912,0,98014,47.6499,-121.909,1200,7500
3,3,16198,3028200080,20150324T000000,81000.0,2,1.00,730,9975,1.0,...,5,730,0,1943,0,98168,47.4808,-122.315,860,9000
4,4,8274,3883800011,20141105T000000,82000.0,3,1.00,860,10426,1.0,...,6,860,0,1954,0,98146,47.4987,-122.341,1140,11250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21608,1448,8907500070,20150413T000000,5350000.0,5,5.00,8000,23985,2.0,...,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750
21609,21609,4411,2470100110,20140804T000000,5570000.0,5,5.75,9200,35069,2.0,...,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345
21610,21610,9254,9208900037,20140919T000000,6885000.0,6,7.75,9890,31374,2.0,...,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730
21611,21611,3914,9808700762,20140611T000000,7062500.0,5,4.50,10040,37325,2.0,...,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
21612,21612,7252,6762700020,20141013T000000,7700000.0,6,8.00,12050,27600,2.5,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800

In [71]:
# c. Slice the rows and columns using iloc row positions 100 to 300 , columns 2 to 9 positions.
hs_df.iloc[100:301, 2:10]

[(0, 'level_0'),
 (1, 'index'),
 (2, 'id'),
 (3, 'date'),
 (4, 'price'),
 (5, 'bedrooms'),
 (6, 'bathrooms'),
 (7, 'sqft_living'),
 (8, 'sqft_lot'),
 (9, 'floors'),
 (10, 'waterfront'),
 (11, 'view'),
 (12, 'condition'),
 (13, 'grade'),
 (14, 'sqft_above'),
 (15, 'sqft_basement'),
 (16, 'yr_built'),
 (17, 'yr_renovated'),
 (18, 'zipcode'),
 (19, 'lat'),
 (20, 'long'),
 (21, 'sqft_living15'),
 (22, 'sqft_lot15')]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
100,2500600289,20150416T000000,130000.0,2,1.00,790,7500,1.0
101,13001215,20150305T000000,130000.0,3,1.00,1100,5100,1.0
102,41000454,20140815T000000,130000.0,2,1.00,880,9000,1.0
103,4014400237,20140523T000000,132500.0,3,1.00,1080,10500,1.0
104,6303401050,20150220T000000,132500.0,3,0.75,850,8573,1.0
...,...,...,...,...,...,...,...,...
296,6147600040,20150224T000000,163000.0,3,1.75,1290,4811,1.0
297,1443501020,20141113T000000,163250.0,2,1.00,770,8150,1.0
298,7468900235,20141022T000000,163500.0,3,1.00,940,7200,1.0
299,6661200320,20140723T000000,163500.0,2,1.50,1050,3419,2.0
300,2724049222,20140802T000000,163800.0,2,2.50,1000,1092,2.0

In [76]:
#* d. Filter all columns with letter ‘a’ in it
cols_a = [s for s in hs_df.columns if 'a' in s]
hs_df[[c for c in hs_df.columns if c not in cols_a]]

,level_0,index,id,price,bedrooms,sqft_living,sqft_lot,floors,view,condition,yr_built,zipcode,long,sqft_living15,sqft_lot15
0,0,1149,3421079032,75000.0,1,670,43377,1.0,0,3,1966,98022,-121.906,1160,42882
1,1,15293,40000362,78000.0,2,780,16344,1.0,0,1,1942,98168,-122.280,1700,10387
2,2,465,8658300340,80000.0,1,430,5050,1.0,0,2,1912,98014,-121.909,1200,7500
3,3,16198,3028200080,81000.0,2,730,9975,1.0,0,1,1943,98168,-122.315,860,9000
4,4,8274,3883800011,82000.0,3,860,10426,1.0,0,3,1954,98146,-122.341,1140,11250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21608,1448,8907500070,5350000.0,5,8000,23985,2.0,4,3,2009,98004,-122.220,4600,21750
21609,21609,4411,2470100110,5570000.0,5,9200,35069,2.0,0,3,2001,98039,-122.233,3560,24345
21610,21610,9254,9208900037,6885000.0,6,9890,31374,2.0,4,3,2001,98039,-122.240,4540,42730
21611,21611,3914,9808700762,7062500.0,5,10040,37325,2.0,2,3,1940,98004,-122.214,3930,25449
21612,21612,7252,6762700020,7700000.0,6,12050,27600,2.5,3,4,1910,98102,-122.323,3940,8800

#### 10) Create a string series data with spaces. Replace the missing spaces in a string with least frequent value?

In [105]:
x = pd.Series(["Hello and welcome", 'hello', 'hello', 'welcome', 'yes', 'yes', "Hello and welcome"])
r = r"[ ]"

x.replace(r, x.value_counts().index[-1], regex=True, inplace=True)

display(x)

0    Hellowelcomeandwelcomewelcome
1                            hello
2                            hello
3                          welcome
4                              yes
5                              yes
6    Hellowelcomeandwelcomewelcome
dtype: object